GEMINI_API_KEY=COLOQUE_SUA_CHAVE_AQUI
SECRET_KEY=sua_chave_secreta_jwt_aqui
DATABASE_URL=sqlite:///./banco_dados.db
MEU_EMAIL=seu_email@gmail.com
SENHA_DE_APP=sua_senha_de_app_google_aqui
URL_API=http://127.0.0.1:8000/analisar_texto
TOKEN_TEMPORARIO=seu_token_jwt_temporario_aqui
